/* You can add global styles to this file, and also import other style files */
@import '~mdb-ui-kit/css/mdb.min.css';
.custom-class{
  display: flex;
  align-items: center;
  justify-content: center;
}
