
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  background-image: url('../img/line.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
}
.hero::before {
  content: 'HI';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;

}

.hero p {
  font-size: 20px;
  letter-spacing: 1px;

}
